:root {
    --blue: #0C70F2;
    --white: #FFFFFF;
    --black: #000000;
    --black-gray: #1F1F1F;
    --gray: #393939;
    --page: #F5F5F5;
    --container-main: #F2F2F2;
    --container-border: #BABABA;
}

body {
    font-family: Inter;
    background-color: var(--page);
    width: 1608px;
    height: 2983px;
    margin: auto;
}

.container-header {
    width: 100%;
    border: 1px solid var(--blue);
}

.container-nav {
    height: 103px;
    background-color: var(--blue);
    color: var(--white);
    padding: 0 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-nav {
    color: var(--white);
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
}

.list-nav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.list-nav a {
    color: var(--white);
    text-decoration: none;
    transition: 0.5s;
    font-size: 25px;
    font-weight: bold;
}

.container-main {
    width: 100%;
    border: 1px solid var(--container-border);
    background-color: var(--container-main);
}

.container-section-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-section-hero p {
    color: var(--black-gray);
    font-size: 50px;
    font-weight: 800;
    width: 879px;
    margin: 7.5rem 0rem;
    padding-left: 12rem;
}

.container-section-hero img {
    width: 255px;
    height: 197px;
    margin: 0rem 0rem 5rem 0rem;
    padding-right: 10rem;
}

.container-section-form {
    width: 859px;
    height: 930px;
    border-radius: 30px;
    background-color: var(--white);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-section-form div {
    display: flex;
    flex-direction: column;
}

.container-section-form label {
    color: var(--black);
    font-size: 25px;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.container-section-form input {
    background-color: rgba(242, 242, 242, 0.90);
    color: var(--gray);
    border: 0px;
    border-radius: 10px;
    padding-left: 2rem;
    height: 56px;
    width: 630px;
}

.container-section-form input[name="latitude"],
input[name="longitude"] {
    width: 280px;
}

.container-section-form .coordinates {
    flex-direction: row;
    gap: 2rem;
}

.container-section-form button {
    width: 650px;
    height: 56px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(12, 112, 242, 0.90);
    box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
    margin-top: 5rem;
    cursor: pointer;

    color: var(--white);
    font-size: 32px;
    font-weight: 600;
}

.container-section-cep {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18rem;
    margin-bottom: 10rem;
}

.container-section-cep .cep-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px auto;
    height: 100px;
}

.container-section-cep h3 {
    width: 879px;
    height: 96px;
    color: var(--black-gray);
    font-size: 50px;
    font-weight: 800;
    margin: 0px;
}

.container-section-cep img {
    width: 136px;
    height: 133px;
    margin: 0rem 0rem 4rem -9rem;
}

.container-section-cep .cep-information {
    display: flex;
    flex-direction: column;
}

.container-section-cep .cep-head {
    width: 1024px;
    height: 72px;
    background-color: var(--blue);
    border-radius: 30px 30px 0px 0px;

    color: var(--white);
    font-size: 20px;
    font-weight: 800;

    display: flex;
    justify-content: space-around;
}

.container-section-cep .cep-body {
    width: 1024px;
    height: 72px;
    background-color: var(--white);
    border-radius: 0px 0px 30px 30px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-section-cep .cep-body input {
    border: none;
    color: var(--black-gray);
    font-size: 20px;
    font-weight: 800;
    width: 800px;
    text-align: center;
}

.container-section-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14rem;
    margin-bottom: 10rem;
}

.container-section-weather .weather-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px auto;
    height: 100px;
}

.container-section-weather h3 {
    width: 879px;
    height: 96px;
    color: var(--black-gray);
    font-size: 50px;
    font-weight: 800;
    margin: 0px;
}

.container-section-weather img {
    width: 136px;
    height: 133px;
    margin: 0rem 0rem 4rem -9rem;
}

.container-section-weather .weather-information {
    width: 1024px;
    height: 72px;
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 30px;
    color: var(--black-gray);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.container-section-weather .weather-information p {
    display: inline-flex;
    gap: 5px;
}

.container-footer {
    width: 100%;
    border: 1px solid var(--blue);
    /* width: 1608px; */
    height: 94px;
    background-color: var(--blue);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-footer a {
    margin-right: 2rem;
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
}

.container-footer a:first-child {
    padding-right: 2rem;
    border-right: 5px solid var(--white);
}